@import "../../../assets/sass/variables";

.ingredients-list {
    list-style: none;
    padding: 0;
    margin :0;
    li {
        padding: 30px;
        line-height: 1.2em;
        background: $gray-lightest;
        border-bottom: 1px solid $gray-lighter;
        position: relative;
        .ingredients-list--title {
            display: block;
            font-weight: 400;
            margin-bottom: 10px;
        }
        .ingredients-list--blurb {
            font-weight: 300;
            font-size: 0.9em;
        }
        .ingredients-list--delete {
            position: absolute;
            top: 15px;
            right: 15px;
            a {
                background: $gray-light;
                border-radius: 50%;
                border: 1px solid $gray; 
                display: block;
                padding: 0px 7px 2px 8px;
                color: white;
                transition: all .5s ease;
                font-size: 0.7em;
                &:hover {
                    background: $error;
                    border-color: $error-light;
                }
            }
            .ingredients-list--updating {
                color: $gray-dark;
                padding-right: 5px;
            }
        }
    }
}