// Grays
$gray-darkest: #131313;
$gray-darker: #5f5f5f;
$gray-dark: #999999;
$gray: #d5d5d5;
$gray-light: #e1e1e1;
$gray-lighter: #eeeeee;
$gray-lightest: #fafafa;

// Primary
$primary-darkest: #0E0B1F;
$primary-darker: #211B4E;
$primary-dark: #352B7C;
$primary: #483BAA;
$primary-light: #8A82C8;
$primary-lighter: #BCB7E0;
$primary-lightest: #EEEDF7;

// Accents
$accent-darkest: #172D2D;
$accent-darker: #2D5959;
$accent-dark: #438686;
$accent: #60ABAB;
$accent-light: #90C4C4;
$accent-lighter: #BFDDDD;
$accent-lightest: #DFEEEE;

$error-darkest: #1E0303;
$error-darker: #4B0808;
$error-dark: #790C0C;
$error: #A51010;
$error-light: #BD5151;
$error-lighter: #D69292;
$error-lightest: #EED3D3;